.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.iconbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 10px 10px 10px;
}
