aside > button {
  position: fixed;
  right: 5%;
  bottom: 10%;

  font-size: 13px;
  color: white;
  background-color: #ff5160;
  border-radius: 10px;
  border: none;
  padding: 13px 10px;
}

@media screen and (max-width: 760px) {
  aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  aside > button {
    width: 100%;
    right: 0%;
    max-width: 700px;
  }
}

aside > button:hover {
  background-color: #dc4753;
}
