section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.shoppingbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 170px;
  overflow: hidden;
  gap: 4px;
}
.box > img {
  width: 100%;
  height: 86%;
  border: 1px solid #efefef;
  border-radius: 6px;
  object-fit: cover;
  transition: all 0.5s;
}
.box > img:hover {
  transform: scale(1.05);
}

.box > span {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
